* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 16px;
}

footer {
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
}

.logo {
    padding: 0 0.5rem;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
}

.bg-blue {
    background-color: #B4D0E7;
}

.header-size {
    margin-top: 50px;
    min-height: 400px;
}

.container {
    min-width: 300px;
    margin: 0 auto;
}

.container-big {
    max-width: 1000px;
}

.container-small {
    max-width: 780px;
    padding-top: 5em;
}

.row {
    display: flex;
}

.col-wide {
    flex-basis: 70%;
}

.col-small {
    flex-basis: 30%;
}

.col {
    flex-grow: 1
}

.header-title {
    position: relative;
    top: 65px;
}

.title {
    margin-top: 2em;
    padding-bottom: 1em;
    font-size: 2rem;
}

.div-height{
    min-height: 400px;
    margin-top: 1rem;
}

.title-image {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.section-title {
    font-size: 1.6rem;
    padding: 2em 0;
}

.button-trial {
    margin: 2rem 0;
}

.fa-arrow-down {
    font-size: 3rem;
    margin-top: 3rem;
}

.checkbox {
    margin-bottom: 2em;
}

.radio-check {
    margin-left: 30px;
}

.gap {
    gap: 2em;
}

.row-1 {
    margin-bottom: 2em;
}

.business-plan {
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid grey;
}

.col-border {
    border: 1px solid grey;
}

.card {
    padding: 1rem;
}

.col-large {
    display: flex;
}

ul {
    list-style: none;
}

li {
    padding: 1rem;
}

.line {
    height: 1px;
    width: 50px;
    background-color: grey;
    margin: 2em 0;
}

.img-partner {
    background-image: url("../img/partner.png");
    background-size: cover;
}

.btn-white {
    background-color: white;
    color: Black;
    border: 1px solid black;
    margin: 2rem 0;
}

.row-wrap {
    flex-wrap: wrap;
}

.col-three {
    flex-basis: calc(33.3% - 2em);
}

.card img {
    width: 100%;
}

.customers {
    max-width: 60%;
    height: 200px;
}

.image, .company, .customers {
    height: 200px;
    flex-grow: 1;
}

.side-text, .trial {
    height: 200px;
    min-width: 40%;
}

.company-title {
    color: #61082B;
    padding: 1em 0;
}

.company {
    display: flex;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 2em;
}

.btn-trial {
    border: none;
    margin: 1em 0;
}

.faq {
    margin-bottom: 3em;
}

.faq-float {
    display: inline-block;
    padding: 3em 0;
}

.fa-angle-down {
    float: right;
    padding: 3em 0;
}

.footer-top {
    display: flex;
    gap: 1em;
    height: 300px;
    padding: 2em 0;
}

.footer-col {
    height: 50%;
    border: 1px dashed white;
    width: calc(100% / 5);
}