* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 14px;
}

footer {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

h2, h3, h4 {
    padding-bottom: 1.5rem;
}

li {
    padding: 1rem 0;
}

li .fa-solid {
    padding-right: 0.5em;
}

.padding {
    padding: 1.5rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 0.7rem;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
}

.logo {
    padding: 0 0.5rem;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    margin: 1.5rem 0;
}

.bg-blue {
    background-color: #B4D0E7;
}

.container {
    min-width: 300px;
    margin: 0 auto;
}

.container-big {
    max-width: 1000px;
}

.container-small {
    max-width: 780px;
    padding: 3rem 0;
}

.section {
    padding: 2rem 0;
}

.row {
    display: flex;
}

.col-wide {
    flex-basis: 70%;
}

.col-small {
    flex-basis: 30%;
}

.col {
    flex-grow: 1
}

.header-title {
    position: relative;
    top: 65px;
}

.title {
    margin-top: 2em;
    padding-bottom: 1em;
    font-size: 2rem;
}

.div-height{
    min-height: 400px;
    margin-top: 1rem;
}

.title-image {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.section-title {
    font-size: 1.6rem;
    padding-top: 2.5rem;
}

.button-trial {
    margin: 2rem 0;
}

.fa-arrow-down {
    font-size: 3rem;
    margin-top: 3rem;
}

.checkbox {
    margin: 2rem 0;
}

.radio-check {
    margin-left: 30px;
}

.gap {
    gap: 2em;
}

.row-1 {
    margin-bottom: 2em;
}

.business-plan {
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid grey;
}

.col-border {
    border: 1px solid grey;
    flex-basis: 0;
    flex-grow: 1;
}

.card {
    padding: 1rem;
}

.col-large {
    display: flex;
}

.lists li {
    display: flex;
    padding-left: -16px;
}

.month {
    color: grey;
    padding-bottom: 2.5rem;
}

.fa-check {
    color: #0463FF;
}

.line {
    height: 1px;
    width: 50px;
    background-color: grey;
    margin: 2em 0;
}

.img-partner {
    background-image: url("../img/partner.png");
    background-size: cover;
}

.btn-white {
    background-color: white;
    color: Black;
    border: 1px solid black;
    margin: 2rem 0;
}

.btn-wide {
    width: 100%;
} 

.row-wrap {
    flex-wrap: wrap;
}

.col-three {
    flex-basis: calc(33.3% - 2em);
}

.card img {
    width: 100%;
}

.customers {
    max-width: 60%;
}

.customers h2, .company-title h2, .faq h2 {
    font-size: 1.7rem;
}

.block {
    flex-basis: 33.3%;
}

.box {
    width: calc(100vw / 6);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-logo img {
    max-width: 50%;
}

.card-one {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.box img {
    width: 50%;
    height: 50%;
    filter: invert(1);
    object-fit: contain;
}

.block-text {
    background-color: #F5F5F5;
    aspect-ratio: 1/1;
    padding: 2rem;
    overflow: auto;
}

.line-large {
    background-color: lightgrey;
    width: 85px;
}

.cit {
    margin-top: 3rem;
}

.card-two {
    background-color: #61082B;
}

.card-three {
    background-color: #0093CE;
}

.card-four {
    background-color: #FF1C1C;
}

.card-five {
    background-color: #D5001F;
}

.card-six {
    background-color: #B4D0E7;
}

.card-seven {
    background-color: #0D2481;
}

.card-eight {
    background-color: #FFD830;
}

.company-title {
    color: #61082B;
}

.btn-trial {
    border: none;
    margin: 1em 0;
}

.faq {
    margin-bottom: 3em;
}

.faq h2 {
    margin: 2rem 0;
}

.faq-float {
    display: inline-block;
    padding: 3em 0;
}

.fa-angle-down {
    float: right;
    padding: 3em 0;
}

ul a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.col-five {
    flex-basis: calc(20% - 2em);
    flex-grow: 1;
    padding-bottom: 5rem;
}

.footer-top h4 {
    padding: 1.5rem 0;
}

.footer-top li {
    padding: 0.5em 0;
}

.line-footer {
    width: 100px;
    height: 1px;
    background-color: white;
    margin-bottom: 2rem;
}

.footer-bottom {
    color: grey;
    font-size: 0.9rem;
}

.fa-earth-americas {
    padding-right: 0.3rem;
}